<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Example</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/calculator/{id}(id=${example.getId()})}" th:object="${example}">

    <p th:text="${'Неизмененный пример: ' + example.getExample() + '=' + example.getResult()}">VALUE</p>

    <label for="example">Введите измененный математический пример: </label>
    <input type="text" th:field="*{example}" id="example"/>
    <br/>


<!--    <div style="color:red" th:if="${#fields.hasErrors('example')}" th:errors="*{example}">Math Example Error</div>-->
    <!--    <input type="text"  id="example" name="example"/>-->


<!--    <label for="result">Введите измененный результат примера: </label>-->
<!--    <input type="text" th:field="*{result}" id="result" name="result"/>-->
<!--    <br/>-->

    <input type="submit" value="Пересчитать!"/>
</form>
</body>
</html>