<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Example</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/calculator/{id}(id=${example.getId()})}" th:object="${example}">

    <p th:text="${'Неизмененный пример: ' + example.toString()}">VALUE</p>

    <label for="example">Введите измененный математический пример: </label>
    <input type="text" th:field="*{example}" id="example"/>
    <br/>

    <input type="submit" value="Пересчитать!"/>
</form>
<input type="button" onclick="history.back();" value="Назад"/>

</body>
</html>