<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Math Examples</title>
</head>
<body>



<div th:each="example : ${examples}" >
    <a th:href="@{/calculator/{id}(id=${example.getId()})}"
       th:text="${example.getExample() + '=' + example.getResult()}">user</a>
</div>


<br/>
<hr/>


<form th:action="@{/calculator/new}">
    <input type="submit" value="Решить новый пример"/>
</form>

<form th:method="POST" th:action="@{/calculator/search}">
    <label for="searchingRequest">Введите знак(<, >, = ) результат выражения\ий которое\ых хотите найти!  </label>
    <input type="text" id="searchingRequest" name="searchingRequest"/>

    <input type="submit" value="Найти выражение по результату!"/>
</form>


</body>
</html>