<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>


<form th:method="POST" th:action="@{/calculator}" th:object="${mathExample}">
    <label for="example">Введите математический пример: </label>
            <input type="text" id="example" name="example"/>
<!--    <input type="text" th:field="*{example}" id="example"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('example')}" th:errors="*{example}">Math Example Error</div>-->

    <br/>
    <input type="submit" value="Решить!"/>
</form>

<form th:action="@{/calculator}">
    <input type="submit" value="Назад"/>
</form>

</body>
</html>